#pizza-order {
  display: none;
}

.jumbotron {
  background-color: #1A2930;
  color: white;
}

body {
  background-color: #F7CE3E;
}

button {
  background-color: #1A2930;
  color: white;
}

button:hover {
  background-color: lightgrey;
  color: black;
}

.col-sm-4 {
  border: 3px solid grey;
  border-radius: 20px;
  background-color: #88E6CF;
  margin: 5px;
}

.col-sm-4:hover {
  border: 3px solid #FE8400;
  background-color: #FE8400;
}
