#pizza-order {
  display: none;
}

/*#pizza2-order-form {
  display: none;
}*/



.pick-up {
  display: none;
}

.jumbotron {
  background-color: #1A2930;
  color: white;
}

body {
  background-color: #F7CE3E;
}

.row p {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
}

button {
  background-color: #1A2930;
  color: white;
}

button:hover {
  color: #FE8400;
  border: 2px solid #FE8400;
}

.col-sm-3 {
  border: 3px solid grey;
  border-radius: 20px;
  background-color: #88E6CF;
  margin: 5px;
}

.col-sm-3:hover {
  border: 3px solid #FE8400;
  background-color: #FE8400;
}

#label-header-size, #label-header-toppings {
	display: inline;
	position: relative;
	font: 75px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5);
}

#label-header-order {
	display: inline;
	position: relative;
	font: 75px Helvetica, Sans-Serif;
	letter-spacing: -5px;
	color: rgba(0,0,255,0.5);
}

#label-header-size:after {
	content: "SIZE:";
	position: absolute; left: 4px; top: 2px;
	color: rgba(255,0,0,0.5);
}

#label-header-toppings:after {
	content: "TOPPINGS:";
	position: absolute; left: 4px; top: 2px;
	color: rgba(255,0,0,0.5);
}

#label-header-order:after {
	content: "DETAILS";
	position: absolute; left: 4px; top: 2px;
	color: rgba(255,0,0,0.5);
}

#modal_wrapper.overlay::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,0.7);
  }

  #modal_window {
    display: none;
    z-index: 200;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 360px;
    overflow: auto;
    padding: 10px 20px;
    background: #fff;
    border: 5px solid #999;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  #modal_wrapper.overlay #modal_window {
    display: block;
  }

/*img {
  position: absolute;
  transform: translate(-50%, -50%);
}*/
